/* 公共样式 */

body,
ul,
dl,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
fieldset,
legend,
header,
footer,
nav,
menu,
figure,
figcaption,
hgroup {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  font-family: "微软雅黑";
}

input,
a {
  outline: none;
}

/* 上面的样式重置-不能动 */

.header,
.main {
  width: 990px;
  margin: 0 auto;
}

.header_wrap {
  .header {
    height: 42px;
    background-color: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: none;
    font-size: 12px;
    color: #434343;
    line-height: 42px;

    .quanxuan {
      float: left;
    }
    .jiesuan {
      margin-left: 50px;
      float: left;
      width: 200px;
      height: 100%;
      margin-right: 0;

      p {
        float: left;
        font-size: 10px;
        color: #999;
        span {
          font-size: 12px;
          color: #e2231a;
        }
      }
      button {
        width: 50px;
        height: 30px;
        background-color: #f3f3f3;
        font-size: 16px;
        font-weight: 600;
        color: #e2231a;
        border: none;
        cursor: pointer;
        margin-left: 10px;
      }
      b {
        span {
          color: #e2231a;
          margin-left: 10px;
        }
      }
    }
    p {
      float: left;
      &:nth-of-type(1) {
        margin-left: 10px;
      }
      &:nth-of-type(2) {
        margin-left: 243px;
      }
      &:nth-of-type(3) {
        margin-left: 84px;
      }
      &:nth-of-type(4) {
        margin-left: 90px;
      }
      &:nth-of-type(5) {
        margin-left: 55px;
      }
      &:nth-of-type(6) {
        a {
          margin-left: 30px;
          color: brown;
        }
      }
    }
  }
}

// 购物车列表
.main_wrap {
  .main {
    border-top: 2px solid #aaaaaa;
    ul {
      li {
        display: flex;
        align-items: center;
        height: 118px;
        border-bottom: 1px solid #f0f0f0;
        input {
          margin: 0 17px 0 10px;
        }
        img {
          width: 80px;
          height: 80px;
          border: 1px solid #eee;
        }
        p {
          font-size: 14px;
          color: #333;
          width: 346px;
          margin-left: 30px;
        }
        i {
          font-style: normal;
          font-size: 10px;
          color: #333;
          margin-left: 40px;
        }
        .tianjia {
          margin-left: 45px;
          color: #232326;
          display: flex;
          text-align: center;
          .jia {
            width: 20px;
            height: 20px;
            border: 1px solid #cbcbcb;
            line-height: 20px;
            border-right: none;
            cursor: pointer;
          }
          input {
            width: 46px;
            height: 18px;
            font-size: 12px;
            border: 1px solid #cbcbcb;
            background-color: #fff;
            text-indent: 18px;
            margin: 0;
          }
          .jian {
            width: 20px;
            height: 20px;
            border: 1px solid #cbcbcb;
            line-height: 20px;
            border-left: none;
            cursor: pointer;
          }
        }
        b {
          font-size: 10px;
          color: #333;
          margin-left: 55px;
        }
        button {
          border: none;
          color: #666;
          background-color: #fff;
          width: 70px;
          height: 20px;
          font-size: 12px;
          cursor: pointer;
          margin-left: 30px;
        }
      }
    }
  }
}
// 充值窗口
.chongzhi {
  display: none;
  width: 300px;
  height: 200px;
  position: absolute;
  padding: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  // border: 1px solid #999;
  border-radius: 10px;
  background-color: #eee;
  p {
    font-size: 20px;
    text-align: center;
  }
  #chongzhi {
    width: 250px;
    height: 40px;
    font-size: 20px;
    text-indent: 20px;
    margin-top: 50px;
    margin-left: 20px;
  }
  #quxiao {
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    background-color: #f8296d;
    color: #fff;
    font-size: 20px;
    border: none;
  }
  #chong {
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    border: none;
  }
}
// 购物车空的图
#kong {
  margin: 0 auto;
  display: none;
}
