/* 公共样式 */

body,
ul,
dl,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
fieldset,
legend,
header,
footer,
nav,
menu,
figure,
figcaption,
hgroup {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  font-family: "微软雅黑";
  background-color: #f7f7f7;
}

input,
a {
  outline: none;
}

/* 上面的样式重置-不能动 */
body,
html {
  height: 100%;
}
// 最顶上导航栏

.con_wrap {
  height: 28px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  .container {
    width: 1090px;
    line-height: 28px;
    font-size: 11px;
    .left {
      a {
        margin-right: 10px;
        color: #999;
      }
    }

    a:hover {
      color: #ed155b;
      text-decoration: none;
    }
    a:nth-of-type(1) {
      color: #999;
      text-decoration: none;
    }
    .right {
      float: right;
      .header_ul {
        & > li {
          padding-left: 10px;
          padding-right: 10px;
          float: left;
          i {
            font-size: 10px;
          }
          a {
            color: #999;
          }
          a:hover {
            color: #ed155b;
            text-decoration: none;
          }
          &:nth-of-type(4) {
            position: relative;
            .xiala1 {
              li {
                padding-left: 10px;
                padding-right: 10px;
              }
              display: none;
              position: absolute;
              left: -13px;
              width: 100px;
              border: 1px solid #eee;
              z-index: 5;
              border-top: none;
              background-color: #fff;
            }
          }
          &:nth-of-type(5) {
            color: #ed155b;
            a {
              color: #ed155b;
            }
          }
          &:nth-of-type(6) {
            position: relative;
            .xiala2 {
              li {
                padding-left: 10px;
                padding-right: 10px;
              }
              display: none;
              position: absolute;
              left: -40px;
              width: 100px;
              border: 1px solid #eee;
              border-top: none;
              background-color: #fff;
              z-index: 20;
            }
          }
          &:nth-of-type(4):hover {
            background-color: #fff;
            i {
              display: inline-block;
              transform: rotate(180deg);
              transition: all 0.2s ease-in-out;
            }
          }

          &:nth-of-type(6):hover {
            background-color: #fff;
            i {
              display: inline-block;
              transform: rotate(180deg);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// 第二部分，搜索栏
.ss_wrap {
  background-color: #fff;
  height: 110px;
  .ssbox {
    background-color: #fff;
    width: 1090px;
    height: 100%;
    h1 {
      margin-top: 13px;
      float: left;
      cursor: pointer;
    }
    #ss_kuang {
      width: 536px;
      height: 38px;
      float: left;
      margin: 28px 0 0 120px;
      input {
        height: 38px;
        border: 3px solid #ed145b;
        border-right: none;
        box-sizing: border-box;
      }
      span {
        button {
          width: 100px;
          height: 38px;
          background-color: #ed145b;
          box-sizing: border-box;
          padding: 0;
          border: none;
          font-size: 12px;
          color: #fff;
          &:focus {
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
              0 0 8px rgba(102, 175, 233, 0.6);
          }
        }
      }
    }
    // 搜索框下面导航
    ul {
      float: left;
      margin-left: 135px;
      margin-top: 8px;
      li {
        float: left;
        margin-right: 8px;
        a {
          font-size: 12px;
          display: block;
          float: left;
          color: #999;
          &:hover {
            color: #ed155b;
            text-decoration: none;
          }
        }
        .shu {
          width: 1px;
          height: 12px;
          background-color: #999;
          margin-left: 8px;
          float: left;
          margin-top: 2px;
        }
      }
    }
    // 右面购物车按钮
    #ss_car {
      float: right;
      position: relative;
      top: -20px;
      &:hover .car_xiala {
        display: block;
      }
      &:hover a {
        border-bottom: #fff;
        background-color: #fff;
      }
      &:hover span {
        background-color: #fff;
      }
      a {
        float: left;
        display: block;
        width: 138px;
        height: 32px;
        border: 1px solid #e5e5e5;
        color: #666;
        z-index: 10;
        position: relative;
        img {
          float: left;
          margin-left: 10px;
        }
        span {
          float: right;
          display: block;
          width: 92px;
          height: 100%;
          background-color: #f8f8f8;
          line-height: 32px;
          font-size: 12px;
          color: #666;
          text-indent: 6px;
        }
      }
      .car_xiala {
        width: 300px;
        height: 62px;
        background-color: #fff;
        position: absolute;
        display: none;
        top: 31px;
        left: -162px;
        border: 1px solid #e5e5e5;
        p {
          font-size: 12px;
          color: #666;
          width: 150px;
          line-height: 21px;
          text-align: center;
          margin: 10px auto;
        }
      }
    }
  }
}
// 黑色导航
.black_wrap {
  background-color: #0e0e0e;
  .black_dh {
    width: 1090px;
    > ul {
      float: left;
      > li {
        float: left;
        width: 100px;
        height: 38px;
        text-align: center;
        cursor: pointer;
        &:nth-of-type(1) {
          background-color: #ed145b;
        }
        &:hover a {
          text-decoration: none;
          color: #b2b2b2;
        }
        a {
          color: #fff;
          line-height: 38px;
        }
        &:nth-of-type(4) {
          // 下拉菜单
          &:hover .big_xiala {
            display: block;

            li {
              float: left;
              width: 264px;
              height: 136px;
              padding: 20px;
              text-align: left;
              margin-top: 10px;
              padding-left: 20px;
              border-bottom: 1px solid #e6e6e6;
              border-left: 1px solid #e6e6e6;
              &:nth-of-type(1) {
                margin-left: 10px;
                padding: 0;
                border: none;
                img {
                  opacity: 0.5;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
              &:nth-of-type(5) {
                margin-left: 10px;
                padding: 0;
                border: none;
                img {
                  opacity: 0.5;
                  &:hover {
                    opacity: 1;
                  }
                }
              }

              p {
                font-size: 12px;
                color: #606060;
                line-height: 24px;
              }
              h6 {
                font-size: 14px;
                color: #383838;
                font-weight: 700;
                text-indent: 30px;
                margin-bottom: 10px;
                line-height: 24px;
              }
              &:nth-of-type(2) {
                border-left: none;
                h6 {
                  background: url(../images/new_header_icon.png) no-repeat 0 -178px;
                }
              }
              &:nth-of-type(3) {
                h6 {
                  background: url(../images/new_header_icon.png) no-repeat 0 -2px;
                }
              }
              &:nth-of-type(4) {
                h6 {
                  background: url(../images/new_header_icon.png) no-repeat 0 -29px;
                }
              }
              &:nth-of-type(6) {
                margin-top: 0;
                border-bottom: none;
                border-left: none;
                h6 {
                  margin-top: 10px;
                  background: url(../images/new_header_icon.png) no-repeat 0 -120px;
                }
              }
              &:nth-of-type(7) {
                margin-top: 0;
                border-bottom: none;
                h6 {
                  margin-top: 10px;
                  background: url(../images/new_header_icon.png) no-repeat 0 -148px;
                }
              }
              &:nth-of-type(8) {
                margin-top: 0;
                border-bottom: none;
                h6 {
                  margin-top: 10px;
                  background: url(../images/new_header_icon.png) no-repeat 0 -90px;
                }
              }
            }
          }
          .big_xiala {
            width: 1190px;
            height: 308px;
            background-color: #fff;
            position: relative;
            left: -300px;
            display: none;
            li {
            }
          }
        }
      }
    }
    .black_tu {
      float: right;
      display: flex;
      height: 38px;
      width: 70px;
      justify-content: space-between;
      margin-right: 15px;
      align-items: center;
      img {
        cursor: pointer;
      }
    }
  }
}
// 大图
.banner_wrap {
  height: 350px;
  background: url(../images/242724_1920_350_002-web.jpg) center;
  .banner_a {
    width: 1090px;
    height: 350px;
    display: block;
    margin: 0 auto;
  }
}
// 每日必看
.bikan_wrap {
  height: 68px;
  h2 {
    height: 28px;
    width: 1090px;
    background: url(../images/old_top_tit.jpg);
    margin-top: 20px;
  }
}
// 今日上新单品
.newshop_wrap {
  height: 25px;
  .newshop {
    width: 1090px;
    height: 25px;
    background: url(../images/main_tit02_02.png) 0 -202px no-repeat;
    border-bottom: 2px solid #000;
    p {
      font-size: 12px;
      background: url(../images/clock.jpg) 0 2px no-repeat;
      float: right;
      color: #ed135d;
      text-indent: 20px;
    }
  }
}
// 商品列表
.liebiao_wrap {
  .liebiao {
    margin: 0 auto;
    width: 1090px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    figure {
      margin-top: 20px;
      background-color: #fff;
      width: 350px;
      height: 470px;
      padding: 10px;
      // border: 1px solid red;
      a {
        display: block;
        width: 330px;
        height: 345px;
        overflow: hidden;
        img {
          margin-left: -238px;
          height: 345px;
        }
      }
      p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 24px;
        color: #333;
      }
      b {
        font-size: 22px;
        color: #ed145b;
        line-height: 45px;
        font-weight: 400;
      }
    }
  }
}
// 底部我为自己代言
.daiyan_wrap {
  height: 562px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  background-image: url(../images/footer_dy.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  .daiyan {
    width: 1090px;
    margin: 0 auto;
    height: 562px;
    .daiyan_top {
      ul {
        overflow: hidden;
        height: 185px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        li {
          width: 160px;
          height: 185px;
          &:nth-of-type(2) {
            img {
              margin-left: -60px;
            }
          }
          &:nth-of-type(3) {
            img {
              margin-left: -120px;
            }
          }
          &:nth-of-type(4) {
            img {
              margin-left: -180px;
            }
          }
          &:nth-of-type(5) {
            img {
              margin-left: -240px;
            }
          }
          &:nth-of-type(6) {
            img {
              margin-left: -300px;
            }
          }
          .red_tu {
            width: 60px;
            height: 60px;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 31px;
            img {
              cursor: pointer;
              height: 60px;
            }
          }
          h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            margin-top: 17px;
            color: #333;
            text-align: center;
            cursor: pointer;
          }
          p {
            font-size: 14px;
            color: #999;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
    // 我为自己代言下半部分
    .daiyan_bottom {
      > ul {
        float: left;
        overflow: hidden;
        width: 850px;
        display: flex;
        justify-content: space-around;
        > li {
          margin-top: 21px;
          float: left;
          width: 150px;
          p {
            font-size: 12px;
            color: #666;
            font-weight: 600;
            line-height: 38px;
          }
          ul {
            li {
              font-size: 12px;
              color: #666;
              line-height: 23px;
              position: relative;
              cursor: pointer;
              &:hover {
                color: #ed135d;
              }
            }
          }
        }
      }
      // 右面二维码
      .saoma {
        padding-top: 30px;
        float: right;
        > figure {
          float: left;
          &:nth-of-type(2) {
            margin: 0 10px 0 30px;
            img {
              margin-top: -423px;
              margin-left: -78px;
            }
          }
          > p {
            font-size: 14px;
            color: #666;
            text-align: center;
            font-weight: 700;
            margin-bottom: 10px;
          }
          > figcaption {
            overflow: hidden;
            width: 78px;
            height: 78px;

            img {
              margin-top: -423px;
            }
          }
          h4 {
            font-size: 11px;
            color: #666;
            text-align: center;
          }
        }
      }
    }
  }
}
// 底部倒数第二行
.buttom_dh_wrap {
  background-color: #323232;
  height: 48px;
  .buttom_dh {
    width: 1090px;
    height: 48px;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    line-height: 48px;
    ul {
      li {
        margin-left: 17px;
        float: left;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
// 底部
.buttom_wrap {
  height: 128px;
  background: url(../images/newindex_footer_bg.png);
  #buttom {
    padding-top: 13px;
    width: 1150px;
    margin: 0 auto;
    p {
      color: #ccc;
      font-size: 10px;
      line-height: 23px;
    }
    h5 {
      float: left;
      width: 126px;
      height: 50px;
      overflow: hidden;
      margin-top: 18px;
      margin-right: 13px;
      &:nth-of-type(1) {
        img {
          margin-top: -168px;
        }
      }
      &:nth-of-type(2) {
        img {
          margin-top: -219px;
        }
      }
      &:nth-of-type(3) {
        img {
          margin-top: -270px;
        }
      }
      &:nth-of-type(4) {
        img {
          margin-top: -321px;
        }
      }
      &:nth-of-type(5) {
        img {
          margin-top: -372px;
        }
      }
      &:nth-of-type(5) {
        width: 55px;
        height: 50px;
      }
    }
  }
}
// 右面固定导航栏
#right_box {
  width: 40px;
  height: 100%;
  background-color: #444851;
  position: fixed;
  right: 0;
  top: 0;
  > .zhongjian {
    margin-top: 200px;
    position: relative;
    > #one_box {
      width: 40px;
      height: 38px;
      display: block;
      position: relative;
      padding-top: 9px;
      cursor: pointer;
      &:hover {
        background-color: #ed145b;
        h3 {
          background: url(../images/ibar_sprites.png) no-repeat -33px 0;
        }
      }
      &:hover #tanchu_box {
        display: block;
      }
      h3 {
        background: url(../images/ibar_sprites.png) no-repeat;
        overflow: hidden;
        width: 18px;
        height: 19px;
        margin: 0 auto;
      } // 弹出框
      #tanchu_box {
        display: none;
        padding: 12px;
        width: 287px;
        height: 205px;
        background-color: #fff;
        border: 1px solid #cacaca;
        position: absolute;
        left: -287px;
        top: 0;
        // 上面头像和登录注册
        .top_box {
          border-bottom: 1px dotted #d5d5d5;
          h2 {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 8px;
          }
          p {
            margin-top: 8px;
            text-align: center;
            margin-bottom: 18px;
            a {
              color: #ed145b;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        // 下面两个按钮
        .bottom_box {
          a {
            display: block;
            width: 94px;
            height: 30px;
            background: url(../images/ibar_sprites.png) 0 -408px;
            border: 1px solid #e8e8e8;
            float: left;
            margin-top: 15px;
            line-height: 30px;
            text-align: center;
            font-size: 12px;
            color: #333;
            &:hover {
              border: 1px solid #ebd0d9;
              background: url(../images/ibar_sprites.png) 0 -368px;
              text-decoration: none;
            }
            &:nth-of-type(2) {
              margin-left: 10px;
            }
            &:nth-of-type(1) {
              margin-left: 33px;
            }
          }
        }
        // 关闭图标和三角图标
        .guanbi {
          width: 20px;
          height: 20px;
          overflow: hidden;
          background: url(../images/ibar_sprites.png) no-repeat 0 -272px;
          position: absolute;
          right: 9px;
          top: 9px;
          cursor: pointer;
        }
        .sanjiao {
          width: 5px;
          height: 10px;
          overflow: hidden;
          background: url(../images/ibar_sprites.png) no-repeat 0 -253px;
          position: absolute;
          right: -5px;
          top: 15px;
        }
      }
    }
  }
}
