/* 公共样式 */

body,
ul,
dl,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
fieldset,
legend,
header,
footer,
nav,
menu,
figure,
figcaption,
hgroup {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  font-family: "微软雅黑";
  background-color: #f7f7f7;
}

input,
a {
  outline: none;
}

/* 上面的样式重置-不能动 */
body,
html {
  background-color: #fff;
  height: 100%;
}
// 遮罩层
.zhezhao {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 10;
}
.xieyi {
  width: 600px;
  height: 520px;
  background-color: #fff;
  opacity: 1;
  color: #090909;
  z-index: 11;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 18px;
  border-radius: 9px;
  h4 {
    text-align: center;
    font-size: 20px;
    line-height: 70px;
  }
  p {
    font-size: 14px;
    line-height: 23px;
    b {
      text-decoration: underline;
      color: #555;
      &:nth-of-type(1) {
        text-decoration: none;
      }
    }
  }
  button {
    width: 240px;
    height: 45px;
    background-color: #fe4070;
    color: #fff;
    border: none;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    margin-top: 35px;
    border-radius: 5px;
  }
}
// 头部
.header_wrap {
  height: 85px;
  .header {
    width: 960px;
    margin: 0 auto;
    height: 85px;
    h1 {
      float: left;
    }
    .header_right {
      margin-top: 35px;
      float: right;
      width: 462px;
      height: 31px;
      .zhenpin {
        float: left;
        width: 110px;
        height: 31px;
        margin-right: 24px;
        background: url(../images/header_corn_new_v2.png) no-repeat -6px 0;
      }
      .baoyou {
        margin-right: 24px;

        float: left;
        width: 170px;
        height: 31px;
        background: url(../images/gild.png) no-repeat;
      }
      .shandian {
        float: left;
        width: 110px;
        height: 31px;
        background: url(../images/header_corn_new_v2.png) no-repeat -1px -64px;
      }
    }
  }
}
// 中间部分
.zc_center_wrap {
  height: 500px;
  .zc_center {
    position: relative;
    height: 500px;
    width: 965px;
    margin: 0 auto;
    background: url(../images/signPic.jpg) no-repeat 0 67px;
    .zc_kuang {
      width: 358px;
      height: 380px;
      border: 1px solid #f7f7f7;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
      position: absolute;
      right: 0;
      top: 62px;
      padding: 20px;
      .kuang_header {
        width: 100%;
        height: 20px;
        padding-top: 20px;
        h4 {
          font-size: 20px;
          font-weight: 700;
          color: #e31256;
          float: left;
        }
        p {
          float: right;
          color: #969696;
          font-size: 11px;
          a {
            color: #ed145b;
            cursor: pointer;
          }
        }
      }

      //   表单
      .biao {
        margin-top: 60px;
        overflow: hidden;
        position: relative;
        input {
          width: 300px;
          height: 41px;
          margin-left: 5px;
        }
        .mima {
          margin-top: 20px;
        }
        .yonghus {
          position: absolute;
          display: none;
          margin-left: 10px;
          font-size: 10px;
        }
        .mimas {
          display: none;
          position: absolute;
          font-size: 10px;
          margin-left: 10px;
        }
        .btn {
          background: #f8296d;
          color: #fff;
          width: 310px;
          height: 40px;
          margin-left: -50px;
          margin-top: 40px;
        }
      }
      //   用户协议
      .yh_xieyi {
        span {
          color: #ed145b;
          font-size: 12px;
          &:nth-of-type(1) {
            margin-left: 10px;
          }
          &:nth-of-type(2) {
            margin-left: 50px;
          }
        }
      }
    }
  }
}
// 下面一段话
.bottom_hua {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 12px;
}
// bottom
.bottom_wrap {
  height: 50px;
  .bottom {
    height: 50px;
    margin: 0 auto;
    width: 700px;
    h5 {
      float: left;
      width: 126px;
      height: 50px;
      //   overflow: hidden;
      margin-top: 18px;
      margin-right: 13px;
      position: relative;
      .heng {
        width: 100%;
        height: 1px;
        background-color: #d7d7d7;
        position: absolute;
        bottom: -5px;
      }
      &:nth-of-type(1) {
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -168px;
      }
      &:nth-of-type(2) {
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -219px;
      }
      &:nth-of-type(3) {
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -270px;
      }
      &:nth-of-type(4) {
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -321px;
      }
      &:nth-of-type(5) {
        background: url(../images/header_corn_new_v2.png) no-repeat 0 -372px;
      }
      &:nth-of-type(6) {
        width: 55px;
        height: 50px;
      }
    }
  }
}
